
html, body{
    background-color: #2f4f36;
    color: white;
}

.cabecera{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

.carta{
    position: relative;
    width: 100px;
    left: 100px;
    margin-left: -75px;
    padding-top: 15px;
}

#banca-cartas, #jugador-cartas{
    height: 220px;
}
#botton{
    padding-bottom: 20px;
}
#Ganador{
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 1.5em;
}
main{
    height: 79.5vh;
    font-family: poppis;
}